<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

<th:block th:include="~{/fragments/head.html}"/>
<th:block th:include="~{/fragments/navbar.html}"/>

<body>
<div class="wrapper">
    <div class="section section-signup"
         style="background-image: url('/img/background-cropped.png');
     background-size: cover;
     background-position: top center;
     background-attachment: fixed">

        <div class="container">
            <div class="row">
                <div class="col-8" style="margin: auto">
                    <div class="card">
                        <div class="card-body">

                            <div class="card card-plain">
                                <div class="card-header card-header-danger card-signup" style="padding-top: 15px">
                                    <h3 class="card-title title-up text-center">Select tags for your Addon</h3>
                                    <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                                    <div class="row" style="padding-top: 15px">

                                    </div>

                                </div>

                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <p th:if="${errors != null}" th:text="${errors}"
                                               class="error"></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <div class="form-group col-md">
                                                    <label>Tag names</label>
                                                    <div class="row">
                                                        <div class="col" th:block th:each="tag : ${addon.tags}">
                                                            <p th:text="${tag.name}">Tag</p><br>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row card-footer"
                                                 style="margin: auto; padding-left: 20px">
                                                <div class="col">

                                                    <button class="btn btn-primary btn-round" data-toggle="modal" data-target="#add-tag-modal">
                                                    <i class="now-ui-icons objects_key-25"></i>
                                                    Add Tag
                                                </button>

                                                    <button class="btn btn-primary btn-round" data-toggle="modal" data-target="#remove-tag-modal">
                                                        <i class="now-ui-icons objects_key-25"></i>
                                                        Remove Tag
                                                    </button>

                                                    <a class="btn btn-primary btn-round" th:href="@{/users/profile?page=1}">
                                                        <i class="now-ui-icons objects_key-25"></i>
                                                        Finished adding tags
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:include="~{/fragments/footer.html}"/>
<th:block th:include="~{/fragments/add-tag-modal.html}"/>
<th:block th:include="~{/fragments/remove-tag-modal.html}"/>
<th:block th:include="~{/fragments/scripts.html}"/>
</body>
</html>