<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!--Head-->
<th:block th:include="~{/fragments/head.html}"/>

<!-- Navbar -->
<th:block th:include="~{/fragments/navbar.html}"/>


<body class="profile-page sidebar-collapse">

<div class="wrapper">
    <div class="page-header clear-filter">
        <div class="page-header-image" data-parallax="true"
             style="background-image:url('/img/background-cropped.png');">
        </div>
        <div class="container">

            <h6 th:if="${addon.status.name == 'pending'}" class="title error-unset" style="padding-bottom: 30px">
                <span>Your addon has to be approved by an admin and it's still not visible in the addons page. <br>
                    This message will disappear when the addon is approved</span>
            </h6>

            <div th:if="${addon.addonImage == null || addon.addonImage.isEmpty()}">
                <img src="/img/addon_icon.png"
                     class="rounded-circle rounded-lg img-raised" alt="">
            </div>
            <div th:unless="${addon.addonImage == null || addon.addonImage.isEmpty()}">
                <img class="rounded-circle img-raised"
                     th:src="@{'/addon/' + ${addon.id} + '/image'}" style="max-height: 200px">
            </div>
            <h3 class="title">
                <span th:text="${addon.name}">Addon name</span>
            </h3>


            <p class="category" th:text="${addon.originLink}">Origin link</p>

            <p th:if="${errors != null}" th:text="${errors}" class="error"></p>

            <div style="padding: 60px 0 0px 0">
                <div class="social-description" style="display: inline-block; padding: 0 30px 0 30px">
                    <h2 th:text="${addon.gitHubData.openIssuesCount}">26</h2>
                    <p>Open Issues</p>
                </div>
                <div class="social-description" style="display: inline-block; padding: 0 30px 0 30px">
                    <h2 th:text="${addon.gitHubData.pullCount}">26</h2>
                    <p>Pulls Count</p>
                </div>
                <div class="social-description" style="display: inline-block; padding: 0 30px 0 30px">
                    <h2 th:text="${addon.downloadsCount}">26</h2>
                    <p>Downloads</p>
                </div>
                <div class="social-description" style="display: inline-block; padding: 0 30px 0 30px">
                    <h2 th:text="${ratingDTO.avgRating}">26</h2>
                    <p>Rating</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="button-container">

            <form th:action="@{'/addons/' + ${addon.id} + '/rate'}" th:object="${ratingDTO}" id="rating-form"
                  method="post">
                <a th:if="${role.equals('CREATOR') || role.equals('ADMIN')}"
                   th:href="@{'/addons/' + ${addon.id} + '/update'}" class="btn btn-primary btn-round btn-lg">Update Addon</a>
                <select th:if="${role.equals('USER') || role.equals('CREATOR') || role.equals('ADMIN')}"
                        class="btn-lg btn-round btn-primary" th:field="${ratingDTO.vote}" style="width: 200px;">

                    <option th:value="5" class="dropdown-item submit">5 - Excellent</option>
                    <option th:value="4" class="dropdown-item submit">4 - Above Average</option>
                    <option th:value="3" class="dropdown-item submit">3 - Average</option>
                    <option th:value="2" class="dropdown-item submit">2 - Below Average</option>
                    <option th:value="1" class="dropdown-item submit">1 - Very Poor</option>
                </select>

                <a th:href="@{${addon.downloadLink}}" class="btn btn-primary btn-round btn-lg">Download addon</a>
            </form>
        </div>

        <h2 class="title text-center">Detailed Information</h2>

        <div th:if="${role.equals('CREATOR') || role.equals('ADMIN')}" style="padding-bottom: 30px">
            <div class="row">

                <div class="col">
                    <button class="btn btn-danger btn-round addon-button-padding" data-toggle="modal" style="float: right" data-target="#delete-addon-modal">
                        <i class="now-ui-icons objects_key-25"></i>
                        Remove Addon
                    </button>

                    <form action='#' th:action="@{'../addon/' + ${addon.id} + '/tags'}" method="get">
                        <input type="submit" class="btn btn-primary btn-round addon-button-padding" style="float: right"
                               value="Change Addon Tags"/>
                    </form>


                    <form action='#' th:action="@{'../github/' + ${addon.id}}" method="post">
                        <input type="submit" class="btn btn-primary btn-round addon-button-padding" style="float: right"
                               value="Update Github Data"/>
                    </form>

                    <form th:if="${role.equals('ADMIN') && status.equals('pending')}" action='#'
                          th:action="@{'../admin/' + ${addon.id} + '/approve'}" method="post">
                        <input type="submit" class="btn btn-primary btn-round addon-button-padding" style="float: right"
                               value="Approve Addon"/>
                    </form>

                    <form th:if="${role.equals('ADMIN') && !adminList.contains(addon)}" action='#'
                          th:action="@{'../lists/' + ${addon.id} + '/admin/add'}" method="post">
                        <input type="submit" class="btn btn-primary btn-round addon-button-padding" style="float: right"
                               value="Add Addon to Admin List"/>
                    </form>

                    <form th:if="${role.equals('ADMIN') && adminList.contains(addon)}" action='#'
                          th:action="@{'../lists/' + ${addon.id} + '/admin/remove'}" method="post">
                        <input type="submit" class="btn btn-primary btn-round addon-button-padding" style="float: right"
                               value="Remove Addon to Admin List"/>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">


                <table class="table table-hover table-borderless">
                    <tbody>
                    <tr>
                        <th scope="col">Description</th>
                        <td th:text="${addon.description}"></td>
                    </tr>
                    <tr>
                        <th scope="col">IDE</th>
                        <td th:text="${addon.ide.name}"></td>
                    </tr>
                    <tr>
                        <th scope="col">Last commit title</th>
                        <td th:text="${addon.gitHubData.lastCommitTitle}"></td>
                    </tr>
                    <tr>
                        <th scope="col">Last commit date</th>
                        <td th:text="${addon.gitHubData.lastCommitDate}"></td>
                    </tr>
                    <tr>
                        <th scope="col">Upload date</th>
                        <td th:text="${addon.uploadDate}"></td>
                    </tr>
                    <tr>
                        <th scope="col">Tags</th>
                        <td>
                            <div class="row" th:block th:each="tag : ${addon.tags}">
                                <div class="col">
                                    <p th:text="${tag.name}">Tag</p><br>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<th:block th:include="~{/fragments/footer.html}"/>
<th:block th:include="~{/fragments/delete-addon-modal.html}"/>
<th:block th:include="~{/fragments/scripts.html}"/>
</body>

</html>