<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

<!--Head-->
<th:block th:include="~{/fragments/head.html}"/>

<body class="index-page sidebar-collapse">
<!-- Navbar -->
<th:block th:include="~{/fragments/navbar.html}"/>


<div class="wrapper">
    <div class="section section-signup"
         style="background-image: url('/img/background-cropped.png');
     background-size: cover;
     background-position: top center;
     background-attachment: fixed">

        <div class="container-fluid">
            <div class="content-center brand" style="padding-bottom: 50px; font-size: larger">
                <h1 class="h1-seo text-center" style="color: white">Our Addons</h1>
            </div>

            <form th:action="@{'/addons/filter/' + ${page}}" th:object="${filterSortDTO}"
                  method="get">
                <div style="background-color: transparent; margin-bottom: 30px;margin-left: 90px; margin-right: 90px">
                    <div class="row" style="padding-bottom: 50px">
                        <table class="table table-borderless">
                            <thead>
                            <tr style="color: white">
                                <th class="text-center"><label>Search by Addon name</label></th>
                                <th class="text-center"><label>Search by Addon creator</label></th>
                                <th class="text-center"><label>Search by IDE</label></th>
                                <th class="text-center"><label>Sort By</label></th>
                            </tr>
                            <tr>

                                <td>
                                    <div class="form-group col-md">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                        <span class="input-group-text"><i
                                                class="now-ui-icons users_circle-08"></i></span>
                                            </div>
                                            <input th:field="${filterSortDTO.addonName}" type="text"
                                                   style="background-color: white;width: 120px"
                                                   class="form-control text-center"
                                                   placeholder="Addon Name">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group col-md">

                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                        <span class="input-group-text"><i
                                                class="now-ui-icons users_circle-08"></i></span>
                                            </div>
                                            <input th:field="${filterSortDTO.creatorUsername}" type="text"
                                                   style="background-color: white; width: 120px"
                                                   class="form-control text-center"
                                                   placeholder="Creator">
                                        </div>

                                    </div>
                                </td>
                                <td>
                                    <div class="form-group col-md">

                                        <select class="btn-round btn-info text-center"
                                                th:field="${filterSortDTO.ideName}"
                                                style="width: 230px;background-color: white;height: 38px;color: #a4a4a4;font-size: smaller">

                                            <option th:value="${filterSortDTO.emptyString}"
                                                    class="dropdown-item">All IDEs
                                            </option>
                                            <option th:each="ide : ${ides}"
                                                    th:value="${ide.name}"
                                                    th:text="${ide.name}"
                                                    class="dropdown-item">IDE name
                                            </option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <select class="btn-round btn-info text-center"
                                            th:field="${filterSortDTO.orderBy}"
                                            style="width: 230px;background-color: white;height: 38px;color: #a4a4a4;font-size: smaller">

                                        <option th:value="addon_name"
                                                class="dropdown-item">Name
                                        </option>
                                        <option th:value="downloads_count"
                                                class="dropdown-item">Downloads Count
                                        </option>
                                        <option th:value="upload_date"
                                                class="dropdown-item">Upload Date
                                        </option>
                                        <option th:value="last_commit_date"
                                                class="dropdown-item">Last Commit Date
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <div class="col">
                                        <input type="submit" style="margin: auto"
                                               class="btn btn-success text-center btn-lg" value="Search"/>
                                    </div>
                                </td>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </form>
        </div>
        <div class="container">

            <div class="row">
                <div class="col-3" th:each="addon : ${addons}">
                    <div class="card text-center" style="color: black">
                        <div class="card-body">
                            <div class="col">

                                <div th:if="${addon.addonImage == null || addon.addonImage.isEmpty()}">
                                    <img src="/img/addon_icon.png"
                                         class="card-img-top"
                                         style="max-height: 100px;width: auto" alt="">
                                </div>

                                <div th:unless="${addon.addonImage == null || addon.addonImage.isEmpty()}">
                                    <img class="card-img-top"
                                         style="max-height: 100px; width: auto; align-content: center"
                                         th:src="@{'/addon/' + ${addon.id} + '/image'}">
                                </div>

                            </div>
                            <h3 class="card-title" th:text="${addon.name}">Addon name</h3>
                            <p class="card-text paragraph" th:text="${addon.description}"
                            >Addon Description</p>
                            <div class="row">
                                <div class="col-8">
                                    <a th:href="@{'/addons/' + ${addon.id}}" class="btn btn-primary">View
                                        Details</a>
                                </div>
                                <div class="col-4">
                                    <a class="btn btn-icon btn-success"
                                       th:href="@{${addon.downloadLink}}">
                                        <i class="now-ui-icons arrows-1_cloud-download-93"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="pagination pagination-primary" style="justify-content: center">
                <li class="page-item" th:if="${firstPage} == false">
                    <a class="page-link bg-primary" th:href="@{${page - 1} + '?addonName=' + ${filterSortDTO.addonName} + '&creatorUsername=' + ${filterSortDTO.creatorUsername} + '&ideName=' + ${filterSortDTO.ideName} + '&orderBy=' + ${filterSortDTO.orderBy}}" aria-label="Previous">
                        <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                    </a>
                </li>
                <li class="page-item active">
                    <a class="page-link" th:href="@{${page} + '?addonName=' + ${filterSortDTO.addonName} + '&creatorUsername=' + ${filterSortDTO.creatorUsername} + '&ideName=' + ${filterSortDTO.ideName} + '&orderBy=' + ${filterSortDTO.orderBy}}" th:value="page"
                       th:text="${page}">2</a>
                </li>
                <li class="page-item" th:if="${lastPage} == false">
                    <a class="page-link bg-primary" th:href="@{${page + 1} + '?addonName=' + ${filterSortDTO.addonName} + '&creatorUsername=' + ${filterSortDTO.creatorUsername} + '&ideName=' + ${filterSortDTO.ideName} + '&orderBy=' + ${filterSortDTO.orderBy}}" aria-label="Next">
                        <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>
<th:block th:include="~{/fragments/footer.html}"/>
<th:block th:include="~{/fragments/scripts.html}"/>

</body>
</html>