<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--Head-->
<th:block th:include="~{/fragments/head.html}"/>

<body class="index-page sidebar-collapse">
<!-- Navbar -->
<th:block th:include="~{/fragments/navbar.html}"/>


<div class="wrapper">
    <div class="section section-signup"
         style="background-image: url('/img/background-cropped.png');
     background-size: cover;
     background-position: top center;
     background-attachment: fixed">

        <div class="container-fluid">
            <div class="content-center brand" style="padding-bottom: 50px; font-size: larger">
                <h1 class="h1-seo text-center" style="color: white">Addons requiring approval</h1>
            </div>
        </div>
        <div class="container">

            <div class="row">
                <div class="col-3" th:each="addon : ${addons}">
                    <div class="card text-center" style="color: black">
                        <div class="card-body">
                            <div class="col">

                                <div th:if="${addon.addonImage == null || addon.addonImage.isEmpty()}">
                                    <img src="/img/addon_icon.png"
                                         class="card-img-top"
                                         style="max-height: 100px;width: auto" alt="">
                                </div>

                                <div th:unless="${addon.addonImage == null || addon.addonImage.isEmpty()}">
                                    <img class="card-img-top"
                                         style="max-height: 100px; width: auto; align-content: center"
                                         th:src="@{'/addon/' + ${addon.id} + '/image'}">
                                </div>

                            </div>
                            <h3 class="card-title" th:text="${addon.name}">Addon name</h3>
                            <p class="card-text paragraph" th:text="${addon.description}"
                            >Addon Description</p>
                            <div class="row">
                                <div class="col-8">
                                    <a th:href="@{'/addons/' + ${addon.id}}" class="btn btn-primary">View
                                        Details</a>
                                </div>
                                <div class="col-4">
                                    <a class="btn btn-icon btn-success"
                                       th:href="@{${addon.downloadLink}}">
                                        <i class="now-ui-icons arrows-1_cloud-download-93"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="~{/fragments/footer.html}"/>
<th:block th:include="~{/fragments/scripts.html}"/>

</body>
</html>