<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

<th:block th:include="~{/fragments/head.html}"/>
<th:block th:include="~{/fragments/navbar.html}"/>

<body>
<div class="wrapper">
    <div class="section section-signup"
         style="background-image: url('/img/background-cropped.png');
     background-size: cover;
     background-position: top center;
     background-attachment: fixed">

        <div class="container" >
            <div class="row" >
                <div class="col-8" style="margin-left: 370px">
                    <div class="card card-signup" >
                        <div class="card-body">
                            <form action='#' th:action="@{/users/password}" th:object="${userPasswordDTO}"
                                  method="post"
                                  enctype="multipart/form-data"
                                  id="registrationForm">
                                <div class="card card-plain">
                                    <div class="card-header card-header-danger card-signup" style="padding-top: 15px">
                                        <h3 class="card-title title-up text-center">Change Password</h3>
                                        <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                                        <div class="row" style="padding-top: 15px">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p th:if="${errors != null}" th:text="${errors}" class="error"></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <div class="form-group col-md">
                                                    <label>Password</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i
                                                                    class="now-ui-icons users_circle-08"></i></span>
                                                        </div>
                                                        <input th:field="${userPasswordDTO.oldPassword}" type="password"
                                                               class="form-control"
                                                               placeholder="Old password"
                                                               name="password">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md">
                                                    <label>New password</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i
                                                                    class="now-ui-icons users_circle-08"></i></span>
                                                        </div>
                                                        <input th:field="${userPasswordDTO.password}" type="password"
                                                               class="form-control"
                                                               placeholder="New password"
                                                               minlength="6" maxlength="20" required
                                                               pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=\S+$).{6,}$"
                                                               name="password"
                                                               id="password">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md">
                                                    <label>Password confirmation</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i
                                                                    class="now-ui-icons users_circle-08"></i></span>
                                                        </div>
                                                        <input th:field="${userPasswordDTO.passwordConfirmation}"
                                                               type="password"
                                                               class="form-control" placeholder="New password"
                                                               minlength="6" maxlength="20" required
                                                               pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=\S+$).{6,}$"
                                                               name="password_confirm"
                                                               id="password_confirm">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col" >
                                                    <input type="submit" class="btn btn-success"
                                                           id="submit" value="Submit" style="float: right"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:include="~{/fragments/footer.html}"/>
<th:block th:include="~{/fragments/scripts.html}"/>
</body>
</html>