<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:include="~{/fragments/head.html}"/>
<th:block th:include="~{/fragments/navbar.html}"/>

<body>
<div class="wrapper">
    <div class="section section-signup"
         style="background-image: url('/img/background-cropped.png');
     background-size: cover;
     background-position: top center;
     background-attachment: fixed">

        <div class="container">
            <div class="row">
                <div class="col-8" style="margin: auto">
                    <div class="card">
                        <div class="card-body">

                            <div class="card card-plain">
                                <div class="card-header card-header-danger card-signup" style="padding-top: 15px">
                                    <h3 class="card-title title-up text-center">Create Addon</h3>
                                    <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                                    <div class="row" style="padding-top: 15px">

                                    </div>

                                </div>

                                <div class="card-body">
                                    <form action='#' th:action="@{/addons/new}" th:object="${addonDTO}"
                                          method="post"
                                          enctype="multipart/form-data"
                                          id="registrationForm">
                                        <div class="row" style="padding-bottom: 40px">

                                            <div class="col-3" style="margin: auto">
                                                <label for="image">
                                                    <img src="/img/addon_icon.png"
                                                         class="rounded-circle"
                                                         title=""/>
                                                </label>
                                                <input id="image" th:field="${addonDTO.image}" type="file"
                                                       style="display: none">
                                                <p style="text-align: center">Choose Picture</p>
                                            </div>
                                            <div class="col-3" style="margin: auto">
                                                <label for="file">
                                                    <img src="/img/file_icon.png"
                                                         class="rounded-circle"
                                                         title=""/>
                                                </label>

                                                <input id="file" th:field="${addonDTO.file}"
                                                       type="file"
                                                       style="display: none">
                                                <p style="text-align: center">Upload executable file</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p th:if="${errors != null}" th:text="${errors}"
                                                   class="error"></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">

                                                <div class="row">
                                                    <div class="form-group col-md">
                                                        <label>Name</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                            <span class="input-group-text"><i
                                                                    class="now-ui-icons users_circle-08"></i></span>
                                                            </div>
                                                            <input th:field="${addonDTO.name}" type="text"
                                                                   class="form-control"
                                                                   placeholder="Name"
                                                                   minlength="3" maxlength="50" required>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group col-md">
                                                        <label>Description</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                            <span class="input-group-text"><i
                                                                    class="now-ui-icons users_circle-08"></i></span>
                                                            </div>
                                                            <input th:field="${addonDTO.description}"
                                                                   type="text"
                                                                   class="form-control"
                                                                   placeholder="Description"
                                                                   minlength="3" maxlength="5000" required>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group col-md">
                                                        <label>IDE Name</label>
                                                        <div class="input-group">

                                                            <select class="btn-lg btn-round btn-info"
                                                                    th:field="${addonDTO.ideName}"
                                                                    style="width: 200px;">

                                                                <option th:each="ide : ${ides}"
                                                                        th:value="${ide.name}"
                                                                        th:text="${ide.name}"
                                                                        class="dropdown-item">IDE name
                                                                </option>

                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group col-md">
                                                        <label>Origin link</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                            <span class="input-group-text"><i
                                                                    class="now-ui-icons users_circle-08"></i></span>
                                                            </div>
                                                            <input th:field="${addonDTO.originLink}"
                                                                   type="text"
                                                                   class="form-control"
                                                                   placeholder="Origin Link"
                                                                   required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row card-footer"
                                                     style="margin: auto; padding-left: 20px">
                                                    <div class="col">
                                                        <input type="submit" class="btn btn-success"
                                                               style="float: right"
                                                               id="submit" value="Next"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:include="~{/fragments/footer.html}"/>
<th:block th:include="~{/fragments/scripts.html}"/>
</body>
</html>