<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

<!--Head-->
<th:block th:include="~{/fragments/head.html}"/>


<body class="index-page sidebar-collapse">

<!-- Navbar -->
<th:block th:include="~{/fragments/navbar.html}"/>


<div class="wrapper">
    <div class="section section-signup"
         style="background-image: url('/img/background-cropped.png');
     background-size: cover;
     background-position: top center;
     background-attachment: fixed">
        <div class="container">
            <div>
                <p>
                    <i th:if="${param.logout}">You have been logged out.</i>
                </p>
                <p>
                    <i th:if="${param.error}" class="error">Wrong username or password.</i>
                </p>
                <h1 class="text-center" style="color: white">Addonis</h1>
                <div style="margin-top: 40px;color: black;background-color: transparent">
                    <div class="card-header" style="background-color: transparent">
                        <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist"
                            data-background-color="orange">
                            <li class="nav-item">
                                <a th:if="${tab=='newest'}" class="nav-link active" href="/newest?page=1">Newest</a>
                                <a th:unless="${tab=='newest'}" class="nav-link" href="/newest?page=1">Newest</a>
                            </li>
                            <li class="nav-item">
                                <a th:if="${tab=='most-downloaded'}" class="nav-link active"
                                   href="/most-downloaded?page=1">Most
                                    popular</a>
                                <a th:unless="${tab=='most-downloaded'}" class="nav-link"
                                   href="/most-downloaded?page=1">Most
                                    popular</a>
                            </li>
                            <li class="nav-item">
                                <a th:if="${tab=='admin-addons'}" class="nav-link active" href="/admin-addons?page=1">Featured</a>
                                <a th:unless="${tab=='admin-addons'}" class="nav-link" href="/admin-addons?page=1">Featured</a>
                            </li>
                        </ul>
                    </div>
                    <div style="color: black;background-color: transparent">
                        <div class="container">

                            <div class="row">
                                <div class="col-3" th:each="addon : ${addons}">
                                    <div class="card text-center" style="color: black">
                                        <div class="card-body">
                                            <div class="col">

                                                <div th:if="${addon.addonImage == null || addon.addonImage.isEmpty()}">
                                                    <img src="/img/addon_icon.png"
                                                         class="card-img-top"
                                                         style="max-height: 100px;width: auto" alt="">
                                                </div>

                                                <div th:unless="${addon.addonImage == null || addon.addonImage.isEmpty()}">
                                                    <img class="card-img-top"
                                                         style="max-height: 100px; width: auto; align-content: center"
                                                         th:src="@{'/addon/' + ${addon.id} + '/image'}">
                                                </div>

                                            </div>
                                            <h3 class="card-title" th:text="${addon.name}">Addon name</h3>
                                            <p class="card-text paragraph" th:text="${addon.description}"
                                            >Addon Description</p>
                                            <div class="row">
                                                <div class="col-8">
                                                    <a th:href="@{'/addons/' + ${addon.id}}" class="btn btn-primary">View
                                                        Details</a>
                                                </div>
                                                <div class="col-4">
                                                    <a class="btn btn-icon btn-success"
                                                       th:href="@{${addon.downloadLink}}">
                                                        <i class="now-ui-icons arrows-1_cloud-download-93"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <ul class="pagination pagination-primary" style="justify-content: center">
                                <li class="page-item" th:if="${firstPage} == false">
                                    <a class="page-link bg-primary" th:href="@{'?page=' + ${page - 1}}"
                                       aria-label="Previous">
                                        <span aria-hidden="true"><i class="fa fa-angle-double-left"
                                                                    aria-hidden="true"></i></span>
                                    </a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" th:href="@{'?page=' + ${page}}" th:value="page"
                                       th:text="${page}">2</a>
                                </li>
                                <li class="page-item" th:if="${lastPage} == false">
                                    <a class="page-link bg-primary" th:href="@{'?page=' + ${page + 1}}"
                                       aria-label="Next">
                                        <span aria-hidden="true"><i class="fa fa-angle-double-right"
                                                                    aria-hidden="true"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Tabs on plain Card -->

        </div>
    </div>
</div>


<th:block th:include="~{/fragments/footer.html}"/>

<th:block th:include="~{/fragments/scripts.html}"/>

</body>
</html>