<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

<!--Head-->
<th:block th:include="~{/fragments/head.html}"/>


<body class="index-page sidebar-collapse">

<!-- Navbar -->
<th:block th:include="~{/fragments/navbar.html}"/>


<div class="wrapper">
    <div class="page-header clear-filter page-header" style="height: 0">
        <div class="page-header-image background-properties" data-parallax="true"
             style="background-size: cover;
             background-image: url('/img/background-cropped.png');
             background-position: top">
        </div>
        <div class="container">
            <div class="content-center brand">
                <p>
                    <i th:if="${param.logout}">You have been logged out.</i>
                </p>
                <p>
                    <i th:if="${param.error}" class="error">Wrong username or password.</i>
                </p>
                <h1 class="h1-seo">Resource not allowed</h1>
                <h3 th:text="${errors}">The page you are trying to access requires additional authentication.</h3>
            </div>
        </div>
    </div>
    <th:block th:include="~{/fragments/footer.html}"/>
</div>

<th:block th:include="~{/fragments/scripts.html}"/>

</body>
</html>