<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!--Head-->
<th:block th:include="~{/fragments/head.html}"/>

<!-- Navbar -->
<th:block th:include="~{/fragments/navbar.html}"/>

<body class="profile-page sidebar-collapse">

<div class="wrapper">
    <div class="page-header clear-filter">
        <div class="page-header-image" data-parallax="true"
             style="background-image:url('/img/background-cropped.png');">
        </div>
        <div class="container">
            <div th:if="${user.userDetails.image == null || user.userDetails.image.isEmpty()}">
                <img src="/bootstrap-wizard-master-assets/img/default-avatar.png"
                     class="rounded-circle rounded-lg img-raised" alt="">
            </div>
            <div th:unless="${user.userDetails.image == null || user.userDetails.image.isEmpty()}">
                <img class="rounded-circle img-raised"
                     th:src="@{'/user/' + ${user.userDetails.id} + '/image'}" style="max-height: 200px">
            </div>
            <h3 class="title">
                <span th:text="${user.userDetails.firstName}">First name</span>
                <span th:text="${user.userDetails.lastName}">Last name</span>
            </h3>
            <p class="category" th:text="${user.userDetails.email}">Email adress</p>
            <div class="content">
                <div class="social-description">
                    <h2 th:text="${addons.size()}">5</h2>
                    <p>Addons created</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="button-container">
                <a href="/users/details" class="btn btn-primary btn-round btn-lg">Update Profile</a>
                <a href="/users/password" class="btn btn-warning btn-round btn-lg">Change Password</a>
            </div>


            <div class="container" style="padding-top: 50px">
                <div class="row" style="padding-bottom: 30px">
                    <h6 class="text-center title" th:if="${addons.isEmpty()}">You haven't created any addons.</h6>
                    <div class="col">
                        <button th:if="${role.equals('ADMIN') && user.isEnabled()}"
                                class="btn btn-danger btn-round addon-button-padding" data-toggle="modal"
                                style="float: right"
                                data-target="#delete-user-modal">
                            <i class="now-ui-icons objects_key-25"></i>
                            Disable User
                        </button>
                        <form th:action="@{'/admin/users/' + ${user.id} + '/enable'}"
                              method="post">
                            <button th:if="${role.equals('ADMIN') && !user.isEnabled()}"
                                    class="btn btn-danger btn-round addon-button-padding" style="float: right">
                                <i class="now-ui-icons objects_key-25"></i>
                                Enable User
                            </button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3" th:each="addon : ${addons}">
                        <div class="card text-center">
                            <div class="card-body">
                                <div class="col">
                                    <div th:if="${addon.addonImage == null || addon.addonImage.isEmpty()}">
                                        <img src="/img/addon_icon.png"
                                             class="card-img-top"
                                             style="max-height: 100px;width: auto; align-content: center" alt="">
                                    </div>

                                    <div th:unless="${addon.addonImage == null || addon.addonImage.isEmpty()}">
                                        <img class="card-img-top"
                                             style="max-height: 100px; width: auto; align-content: center"
                                             th:src="@{'/addon/' + ${addon.id} + '/image'}">
                                    </div>

                                </div>

                                <h3 class="card-title" th:text="${addon.name}">Addon name</h3>
                                <p class="card-text paragraph" th:text="${addon.description}"
                                >Some quick example text to build on the card
                                    title and make up the bulk of
                                    the card's content.</p>
                                <div class="row">
                                    <div class="col-8">
                                        <a th:href="@{'/addons/' + ${addon.id}}" class="btn btn-primary">View
                                            Details</a>
                                    </div>
                                    <div class="col-4">
                                        <a class="btn btn-icon btn-success" th:href="@{${addon.downloadLink}}">
                                            <i class="now-ui-icons arrows-1_cloud-download-93"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="pagination pagination-primary" style="justify-content: center">
                    <li class="page-item" th:if="${firstPage} == false">
                        <a class="page-link bg-primary" th:href="@{'/users/profile?page=' + ${page - 1}}" aria-label="Previous">
                            <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                        </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" th:href="@{'/users/profile?page=' + ${page}}" th:value="page"
                           th:text="${page}">2</a>
                    </li>
                    <li class="page-item" th:if="${lastPage} == false">
                        <a class="page-link bg-primary" th:href="@{'/users/profile?page=' + ${page + 1}}" aria-label="Next">
                            <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

<th:block th:include="~{/fragments/delete-user-modal.html}"/>
<th:block th:include="~{/fragments/footer.html}"/>
<th:block th:include="~{/fragments/scripts.html}"/>
</body>

</html>