<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

<th:block th:include="~{/fragments/head.html}"/>
<th:block th:include="~{/fragments/navbar.html}"/>

<body>
<div class="wrapper">
<div class="section section-signup"
     style="background-image: url('/img/background-cropped.png');
     background-size: cover;
     background-position: top center;
     background-attachment: fixed">

    <div class="container">
        <div class="row">
            <div class="col-8" style="margin: auto">
                <div class="card">
                    <div class="card-body">
                        <form action='#' th:action="@{/users/register}" th:object="${userDTO}"
                              method="post"
                              enctype="multipart/form-data"
                              id="registrationForm">
                            <div class="card card-plain">
                                <div class="card-header card-header-danger card-signup" style="padding-top: 15px">
                                    <h3 class="card-title title-up text-center">Register</h3>
                                    <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                                    <div class="row" style="padding-top: 15px">

                                    </div>

                                </div>

                                <div class="card-body">
                                    <div class="row" style="padding-bottom: 40px">
                                        <div class="col-3" style="margin: auto">
                                            <label for="imagefile file-upload" class="custom-file-upload">
                                                <img th:src="@{/bootstrap-wizard-master-assets/img/default-avatar.png}"
                                                     class="rounded-circle"
                                                     title=""/>
                                            </label>
                                            <input id="imagefile file-upload" th:field="${userDTO.image}" name="imagefile" type="file"
                                                   style="display: none">
                                            <p style="text-align: center">Choose Picture</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                        <p th:if="${errors != null}" th:text="${errors}" class="error"></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">

                                            <div class="row">
                                                <div class="form-group col-md">
                                                    <label>Username</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i
                                                                    class="now-ui-icons users_circle-08"></i></span>
                                                        </div>
                                                        <input th:field="${userDTO.username}" type="text"
                                                               class="form-control"
                                                               placeholder="Username"
                                                               minlength="3" maxlength="15" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">

                                                <div class="form-group col-md">
                                                    <label>Password</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i
                                                                    class="now-ui-icons users_circle-08"></i></span>
                                                        </div>
                                                        <input th:field="${userDTO.password}" type="password"
                                                               class="form-control"
                                                               placeholder="Password"
                                                               minlength="6" maxlength="20" required
                                                               pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=\S+$).{6,}$"
                                                               name="password"
                                                               id="password">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md">
                                                    <label>Retype password</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i
                                                                    class="now-ui-icons users_circle-08"></i></span>
                                                        </div>
                                                        <input th:field="${userDTO.retypePassword}"
                                                               type="password"
                                                               class="form-control" placeholder="Password"
                                                               minlength="6" maxlength="20" required
                                                               pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=\S+$).{6,}$"
                                                               name="password_confirm"
                                                               id="password_confirm">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">

                                            <div class="row">
                                                <div class="form-group col-md">
                                                    <label>Email</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i
                                                                    class="now-ui-icons users_circle-08"></i></span>
                                                        </div>
                                                        <input th:field="${userDTO.email}"
                                                               class="form-control"
                                                               placeholder="Email"
                                                               pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,6}$">
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md">
                                                    <label>First Name</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i
                                                                    class="now-ui-icons users_circle-08"></i></span>
                                                        </div>
                                                        <input th:field="${userDTO.firstName}" type="text"
                                                               class="form-control"
                                                               placeholder="First Name"
                                                               minlength="3" maxlength="20" required>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md">
                                                    <label>Last Name</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i
                                                                    class="now-ui-icons users_circle-08"></i></span>
                                                        </div>
                                                        <input th:field="${userDTO.lastName}" type="text"
                                                               class="form-control"
                                                               placeholder="Last Name"
                                                               minlength="3" maxlength="20" required>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row card-footer" style="margin: auto; padding-left: 20px">
                                                <div class="col">
                                                    <input type="submit" class="btn btn-success" style="float: right"
                                                           id="submit" value="Submit"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<th:block th:include="~{/fragments/footer.html}"/>
<th:block th:include="~{/fragments/scripts.html}"/>
</body>
</html>