<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

<!--Head-->
<th:block th:include="~{/fragments/head.html}"/>

<body class="index-page sidebar-collapse">
<!-- Navbar -->
<th:block th:include="~{/fragments/navbar.html}"/>


<div class="wrapper">
    <div class="section section-signup"
         style="background-image: url('/img/background-cropped.png');
     background-size: cover;
     background-position: top center;
     background-attachment: fixed; min-height: 600px">
        <div class="container">

            <div class="row">
                <div class="col-3" th:each="user : ${users}">
                    <div class="card text-center" style="color: black">
                        <div class="card-body">
                            <div class="col">

                                <div th:if="${user.userDetails.image == null || user.userDetails.image.isEmpty()}">
                                    <img src="/bootstrap-wizard-master-assets/img/default-avatar.png"
                                         class="card-img-top"
                                         style="max-height: 100px;width: auto; align-content: center" alt="">
                                </div>

                                <div th:unless="${user.userDetails.image == null || user.userDetails.image.isEmpty()}">
                                    <img class="card-img-top"
                                         style="max-height: 100px; width: auto; align-content: center"
                                         th:src="@{'/user/' + ${user.userDetails.id} + '/image'}">
                                </div>

                            </div>
                            <h4 class="card-title" th:text="${user.username}">Username</h4>
                            <p class="card-text" th:text="${user.userDetails.email}">User details</p>
                            <div class="row">
                                <div class="col">
                                    <a th:href="@{'/admin/users/' + ${user.id} + '?page=1'}" class="btn btn-primary">View
                                        Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="~{/fragments/footer.html}"/>
<th:block th:include="~{/fragments/scripts.html}"/>

</body>
</html>