<th:block th:fragment>

    <div class="modal fade modal-mini modal-primary" id="add-tag-modal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <form id="login" th:action="@{'/addon/' + ${addon.id} + '/tags/new'}" th:object="${tag}" method="post">
                    <div class="modal-header justify-content-center">
                        <h3>Write the name of the tag</h3>
                    </div>
                    <div class="modal-body">
                        <div class="input-group no-border">
                            <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="now-ui-icons users_circle-08"></i>
                      </span>
                            </div>
                            <input type="text" class="form-control white-placeholder" placeholder="Tag name"
                                   th:field="${tag.name}"
                                   minlength="1" maxlength="30" required>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-neutral btn-link">Add tag</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</th:block>