<th:block th:fragment>

    <div class="modal fade modal-mini modal-primary" id="delete-user-modal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{'/admin/users/' + ${user.id} + '/delete'}"
                       method="post">

                    <div class="modal-header justify-content-center">
                        <h3>Are you sure that you want to disable this user?</h3>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-link btn-neutral" data-dismiss="modal">Close
                        </button>
                        <button type="submit" class="btn btn-danger">Disable user</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</th:block>