<th:block th:fragment>
<footer class="footer" data-background-color="black">
    <div class=" container ">
        <div class="copyright" id="copyright">

            Developed by
            <a >Dilyana Dimova and Petar Aleksiev</a>
        </div>
    </div>
</footer>
</th:block>