<th:block th:fragment>
    <head>
        <meta charset="utf-8"/>
        <link rel="apple-touch-icon" sizes="76x76" th:href="@{/now-ui-kit-master-assets/img/apple-icon.png}">
        <link rel="icon" type="image/png" th:href="@{/now-ui-kit-master-assets/img/favicon.png}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>Addonis</title>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
              name='viewport'/>
        <!--     Fonts and icons     -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
        <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.7.1/css/all.css}"
              integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <!-- CSS Files -->
        <link th:href="@{/now-ui-kit-master-assets/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/now-ui-kit-master-assets/css/now-ui-kit.css}" rel="stylesheet"/>

        <link rel="stylesheet" th:href="@{/my-css/my-css.css}">

        <link rel="stylesheet"
              th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">


        <!--    ?v=1.3.0-->
    </head>


</th:block>