<th:block th:fragment >
    <nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent " color-on-scroll="400">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="/">
                    Home
                </a>
                <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navigation"
                        aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar top-bar"></span>
                    <span class="navbar-toggler-bar middle-bar"></span>
                    <span class="navbar-toggler-bar bottom-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation"
                 data-nav-image="./assets/img/blurred-image-1.jpg">
                <ul class="navbar-nav">
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" href="/users/register">
                            <i class="now-ui-icons arrows-1_cloud-download-93"></i>
                            <p>Register</p>
                        </a>
                    </li>

                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" href="/login">
                            <i class="now-ui-icons objects_key-25"></i>
                            <p>Log in</p>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1"
                           data-toggle="dropdown">
                            <i class="now-ui-icons design_app"></i>
                            <p>Addons</p>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink1">
                            <a class="dropdown-item" href="/addons/filter/1?addonName=&creatorUsername=&ideName=&orderBy=addon_name">
                                <i class="now-ui-icons business_chart-pie-36"></i> All Addons
                            </a>
                            <a class="dropdown-item" target="_blank"
                               sec:authorize="isAuthenticated()"
                               th:href="@{/addons/new}">
                                <i class="now-ui-icons design_bullet-list-67"></i>Create Addon
                            </a>
                            <a sec:authorize="!isAuthenticated()" class="dropdown-item" target="_blank" href="/login">
                                <i class="now-ui-icons design_bullet-list-67"></i>
                                <p>Create Addon</p>
                            </a>
                        </div>
                    </li>

                    <li sec:authorize="hasAuthority('ROLE_ADMIN')" class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink2"
                           data-toggle="dropdown">
                            <i class="now-ui-icons design_app"></i>
                            <p>Admin</p>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink2">
                            <a class="dropdown-item" href="/admin/users/enabled">
                                <i class="now-ui-icons business_chart-pie-36"></i>Enabled Users
                            </a>
                            <a class="dropdown-item"
                               href="/admin/users/disabled">
                                <i class="now-ui-icons design_bullet-list-67"></i>Disabled Users
                            </a>
                            <a class="dropdown-item"
                               href="/admin/addons/pending">
                                <i class="now-ui-icons business_chart-pie-36"></i>Pending Addons
                            </a>
                        </div>
                    </li>

                    <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                        <a href="#" class="nav-link dropdown-toggle"
                           data-toggle="dropdown">
                            <i class="now-ui-icons design_app"></i>
                            <p>My profile</p>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink1">
                            <a class="dropdown-item" href="/users/profile?page=1">
                                <i class="now-ui-icons business_chart-pie-36"></i> Profile details
                            </a>

                            <a class="dropdown-item" target="_blank"
                               href="/users/details">
                                <i class="now-ui-icons design_bullet-list-67"></i>Update Profile
                            </a>

                            <a class="dropdown-item" target="_blank"
                               href="/users/password">
                                <i class="now-ui-icons design_bullet-list-67"></i>Change password
                            </a>

                            <form class="submit-form" th:action="@{/logout}"  method="post">
                                <a class="dropdown-item submit-button" >
                                    <i class="now-ui-icons design_bullet-list-67"></i> Logout
                                </a>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</th:block>