<th:block th:fragment>
    <!--   Core JS Files   -->
    <script th:src="@{/now-ui-kit-master-assets/js/core/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/now-ui-kit-master-assets/js/core/popper.min.js}" type="text/javascript"></script>
    <script th:src="@{/now-ui-kit-master-assets/js/core/bootstrap.min.js}" type="text/javascript"></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script th:src="@{/now-ui-kit-master-assets/js/plugins/bootstrap-switch.js}"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script th:src="@{/now-ui-kit-master-assets/js/plugins/nouislider.min.js}" type="text/javascript"></script>
    <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
    <script th:src="@{/now-ui-kit-master-assets/js/plugins/bootstrap-datepicker.js}" type="text/javascript"></script>
    <!--  Google Maps Plugin    -->
<!--    <script th:src="@{https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE}"></script>-->

    <script th:src="@{/js/my-js.js}" type="text/javascript"></script>

    <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
    <script th:src="@{/now-ui-kit-master-assets/js/now-ui-kit.js}" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            // the body of this function is in assets/js/now-ui-kit.js
            nowuiKit.initSliders();
        });

        function scrollToDownload() {

            if ($('.section-download').length != 0) {
                $("html, body").animate({
                    scrollTop: $('.section-download').offset().top
                }, 1000);
            }
        }
    </script>
</th:block>