.gray-filter {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.background-properties {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: center;
    margin: auto;
    padding: 0;

}

.white-placeholder{
}

.white-placeholder::placeholder {
    color: #575757;
    opacity: 1; /* Firefox */
}

.white-placeholder:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #575757;
}

.white-placeholder::-ms-input-placeholder { /* Microsoft Edge */
    color: #575757;
}

.checked {
    color: orange;
}

.error{
    color: red;
    font-size: small;
    text-align: center;
    font-weight: bold;
}

.error-unset{
    color: red;
    text-align: center;
    font-weight: bold;
}

.paragraph {

    height: 80px;

    overflow: hidden;
    text-overflow: ellipsis;
}

.inner {
    width: 50%;
    margin: 0 auto;
}

.addon-button-padding{
    margin-left: 10px;
    margin-right: 10px;
}